
/* clean toolbar buttons */
.clearButtonsContainer .button, .clearButtonsContainer .toggle-button {
    -fx-background-color: transparent;
}

.clearButtonsContainer .button:hover, .clearButtonsContainer .toggle-button:hover {
    -fx-background-color: darkgrey;
    -fx-background-radius: 0;
}

.clearButtonsContainer .button:armed {
    -fx-background-color: darkcyan;
    -fx-background-radius: 0;
}

.clearButtonsContainer .toggle-button:selected {
    -fx-background-color: lightgray;
    -fx-background-radius: 0;
}


.loadingText {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: cornflowerblue;
}

.failedConnectionTest {
    -fx-font-size: 20px;
    -fx-fill: darkred;
}

.defaultTextColor {
    -fx-fill: rgba(2,16,31,0.87);
}

.errorTextColor {
    -fx-fill: darkred;
}

.defaultLinkBackground:hover {
    -fx-fill: darkcyan;
}

.defaultButtonStyle {
    -fx-background-color: rgba(8,52,112,0.5);
    -fx-text-fill: aliceblue;
}

.defaultButtonStyle:hover {
    -fx-background-color: darkcyan;
}

.defaultButtonStyle:focused {
    -fx-background-color: cadetblue;
}

.removeButtonStyle {
    -fx-background-color: rgba(204,10,7,0.7);
    -fx-text-fill: aliceblue;
}

.removeButtonStyle:hover {
    -fx-background-color: rgba(204,10,7,0.64);
}

.removeButtonStyle:focused {
    -fx-background-color: rgba(204,10,7,0.46);
}

.maskViewBackground {
    -fx-background-color: rgba(50, 100, 100, 0.4);
}

.appMenuBox {
    -fx-background-color: lightgray;
}

.appMenuBox:hover {
    -fx-background-color: darkcyan;
}

.adminToolbarPaneBackground {
    -fx-background-color: rgba(8,52,112,0.5);
}

.adminToolbarPaneBackground:hover {
    -fx-background-color: rgba(8,52,112,0.3);
}

.adminSubToolbarPaneBackground {
    -fx-background-color: rgba(176,174,183,0.45);
}

.adminSubToolbarPaneBackground:hover {
    -fx-background-color: rgba(48,92,192,0.5);
}

.yearViewUnselectedBackground {
    -fx-background-color: rgba(209,209,212,0.46);
}

.yearViewSelectedBackground {
    -fx-background-color: rgba(6,38,212,0.46);
}